body{
    background-color: #9cee59;
    color: black;
}
#table1{
    margin: auto;
    width: 980px;
    border: none;
    background-color: #509050;
}
#table2{
    margin: auto;
    width: 940px;
    border: none;
    background-color: white;
    padding: 0px;
}
#sor2{
    height: 40px;
    color: white;
    background-color: black;
    text-align: center;
}
p{
    background-color: white;
    color: black;
}
ul{
    background-color: white;
}


